<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href=""
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.google.com/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <section>
        <form action="api/shorturl/" method="GET">
          <fieldset>
            <legend>URL Decoder</legend>
            <label for="short_url_input">Short URL Code:</label>
            <input id="short_url_input" type="text" name="short_url" placeholder="6 characters code" />
            <input type="submit" value="GET URL"/>
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>A learning project created by <a href="https://ilixiang.ca/">Xiang</a> with <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
    </footer>
  </body>
</html>
